
<h2 class= "page-heading">About Me</h2>

<p>Hi there! Welcome to my blog!</p>
<br>
<p>I'm a student in the second cohort of the Ada Developer's Academy, aka cohort[1].  I love it!</p>
<br>
<p>I love learning, pop culture, teen books, Leslie Knope, and obscure animals such as the echidna.  For reference:</p>
<br>
<img src="/echidna.jpg" alt="An Echidna" width="25%" height="25%" style="margin-left: 100px">
<p style= "font-size: 10px">Image Source: Flickr User Frankzed
<a style= "font-size: 10px" href="https://www.flickr.com/photos/frankzed/10152155115/in/photolist-dUuKzs-gt7s2a-4nSmFE-4u4Gni-aJt6uv-7AbdPY-aekjqc-9YPmnf-7A7tft-7A7rLD-9J2bkU-7AbegS-5A27dX-7A7zV2-7AboRG-7e8DCk-5KkECj-oDrwyt-aNEjZ4-699hdW-722tRR-hQmKs1-aNEiVX-3EdDH3-5EKFw2-dtP9iB-857Pr-5EKGV4-6dJjS9-6i6dpo-57YdrY-bMWkTR-3E9jmZ-5EM5pp-qagum-dNwusy-joigr5-7szH8u-5BWn9f-5BWmZA-bz2EAj-5TC85L-5TxMG4-89H5Em-a3dcYB-75pHHz-e5vGeL-5nvHbF-5mSpTB-d6J97E">Link</a><br>
Licensed under a Creative Commons Attribution license</p>
<br>
