<h1><font color = "purple" face = "courier" >Welcome to my blog!</font></h1>

<!-- THIS IS AN HTML COMMENT -->
<!--  make one of these with command + forward slash -->
<!--  control - shift - period makes a ruby tag -->

<%= n = Post.all.each {|post| puts post} %>


<h3><a href="/posts/<%= Post.all[0] %>"><font face = "courier">My First Post</font></a></h3>
<h3><a href="/posts/<%= Post.all[1] %>"><font face = "courier">My Second Post</font></a></h3>
