<!DOCTYPE html>
<html>

  <head>

    <title>It's a blog!</title>
  </head>

<body>
  <h1>It's a blog!</h1>

  <% @posts.each do |post| %>
    <p><a href="<%= post.url %>"><font face = "courier"><%= post.get_title %></font></a></p>
  <% end %>

</body>
</html>

<!-- THIS IS AN HTML COMMENT -->
<!--  make one of these with command + forward slash -->
<!--  control - shift - period makes a ruby tag -->
