<h1><font color = "purple" face = "courier" >Welcome to my blog!</font></h1>

<!-- THIS IS AN HTML COMMENT -->
<!--  make one of these with command + forward slash -->
<!--  control - shift - period makes a ruby tag -->


<h3><a href="<%= Post.all[0].url %>"><font face = "courier"><%= Post.all[0].title.gsub("_", " ").capitalize %></font></a></h3>
<h3><a href="<%= Post.all[1].url %>"><font face = "courier"><%= Post.all[1].title.gsub("_", " ").capitalize %></font></a></h3>
