<h1><font color = "purple" face = "georgia" >Welcome to my blog!</font></h1>

<!-- THIS IS AN HTML COMMENT -->
<!--  make one of these with command + forward slash -->
<!--  control - shift - period makes a ruby tag -->
<h3><a href="/posts/my_first_post"><font face = "georgia">My First Post</font></a></h3>
<h3><a href="/posts/my_second_post"><font face = "georgia">My Second Post</font></a></h3>
