


<h1>It's a blog!</h1>

<% @posts.each do |post| %>
  <h3><a href="<%= post.url %>"><%= post.get_title %></a>:&nbsp <%= post.format_date %></h3>
  <p> <%= post.content %> </p>
<% end %>



<!-- THIS IS AN HTML COMMENT -->
<!--  make one of these with command + forward slash -->
<!--  control - shift - period makes a ruby tag -->
