<h1>Hello World</h1>

<!-- THIS IS AN HTML COMMENT -->
<!--  make one of these with command + forward slash -->
<!--  control - shift - period makes a ruby tag -->
The current time is <%= Time.now %>
