
<a href="/"><font face = "courier">Home</font></a>
&nbsp
<a href="/about-me"><font face = "courier">About Me</font></a>

<hr>

<%= yield %>

<hr>
<font face = "courier">Created by Allie Sterling, 2014</font>
