<!DOCTYPE html>
<html>

<head>
  <link href="/layout.css" rel="stylesheet"]]>
  <script src="/app.js"></script>
  <title><%= @title %></title>
</head>

<body>

  <a href="/">Home</a>
  &nbsp
  <a href="/about-me">About Me</a>
  &nbsp
  <a href = "/posts">Posts</a>


<hr>

<%= yield %>

<hr>



  <font face = "courier">Created by <strong><em>Allie Sterling</em></strong>, 2014</font>
  <br>
  <br>
  <img src='/puppy.jpeg' alt='A Cute Puppy'>

</body>
</html>
