
<a href="/"><font face = "georgia">Home</font></a>
<a href="/about-me"><font face = "georgia">About Me</font></a>

<hr>

<%= yield %>

<hr>
<font face = "georgia">Created by Allie Sterling, 2014</font>
