<head>
  <link href="/layout.css" rel="stylesheet"]]>
  <script src="/app.js"></script>
</head>

<body>

  <a href="/"><font face = "courier">Home</font></a>
  &nbsp
  <a href="/about-me"><font face = "courier">About Me</font></a>

</body>

<hr>

<%= yield %>

<hr>

<body>

  <font face = "courier">Created by <strong><em>Allie Sterling</em></strong>, 2014</font>
  <br>
  <br>
  <img src='/puppy.jpeg' alt='A Cute Puppy'>
  <img src='/puppy.jpeg' alt='A Cute Puppy'>
  <img src='/puppy.jpeg' alt='A Cute Puppy'>

</body>
