<!DOCTYPE html>
<html>

<head>
  <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <link href="/css/resets.css" rel="stylesheet"]]>
  <link href="/css/layout.css" rel="stylesheet"]]>
  <title><%= @title %></title>
</head>

<body>

  <div class='header'>
    <div class='container'>
      <div class='brand'>
        <a href="/">allie sterling</a>
      </div> <!-- brand -->
      <div class='nav'>
        <ul class = 'horizontal-list'>
          <li><a href="/about-me">about</a></li>
          <li><a href='/posts'>blog</a></li>
          <li class='dropdown-anchor'>
            <a href="#">quotations</a>
            <ul class='dropdown'>
              <li><a href="/quotations/leslie-knope">Leslie Knope</a></li>
              <li><a href="/quotations/liz-lemon">Liz Lemon</a></li>
              <li><a href="/quotations/tami-taylor">Tami Taylor</a></li>
            </ul>
          </li>
          <li><a href=#>contact</a></li>
        </ul>
      </div> <!-- .nav -->
    </div> <!-- .container -->
  </div> <!-- .header -->


  <div class = "background">
    <div class = 'container'>


        <div class = 'sidebar'>
          <h2 class = 'page-heading'> Find Me Here</h2>
          <!-- <p class = "sidebar-text">
            Ask me a question!
          </p>
          <form class = 'question-box' action='/'>
            <input type='text' name='question' />
          <input type='submit'>
          </form> -->
          <a id="github" class= "logo" target="_blank" href ="https://github.com/ahsterling"><img src ="/github-6-64-lighter.png"/></a>
          <a class="logo" target="_blank" href ="https://twitter.com/allie_sterling"><img src="/twitter-64-lighter.png"/></a>
          <a class= "logo" target="_blank" href = "https://www.linkedin.com/profile/view?id=98562740&trk=nav_responsive_tab_profile_pic"><img src= "/linkedin-64-lighter.png"/></a>
        </div> <!-- .sidebar -->
        <div class = 'page-container'>
        <div class = 'content-container'>
          <%= yield %>
        </div>
      </div><!-- .page-container -->
    </div> <!-- .container -->
  </div> <!--.background -->

  <div class="footer">
      Created by <strong><em>Allie Sterling</em></strong>, 2014
  </div> <!-- .footer -->


  <script src="/javascripts/jquery-2.1.1.min.js"></script>
  <script src="javascripts/app.js"></script>

</body>
</html>
