<br>

<div class = "blog-container">
  <h3 class = "blog-header"><%= @post.get_title %></h3>

  <p class = "blog-content"><%= @post.content %></p>

  <p>Posted <%= @post.format_date %> by Allie Sterling</p>

</div>
<br>
