<div class = "page-heading">
  <h2>A Post</h2>
</div>

<div class = "body-container">
  <h3 class = "body-heading"><%= @post.get_title %></h3>
  <p class = "blog-date"><%= @post.format_date %> </p>
  <p class = "body-content"><%= @post.content %></p>
</div>
