<div class = "page-heading">
  <h2>Quotations</h2>
</div>

<div class = "blog-container">
  <h3 class="blog-heading"><a href="/quotations/Leslie-Knope">Leslie Knope</a></h3>
  <h3 class="blog-heading"><a href="/quotations/Liz-Lemon">Liz Lemon</a></h3>


</div>
