<!-- <div class='header'>
  <div class='brand'>
    Huxley
  </div>
  <div class='nav'>
    <ul class="horizontal-list">
      <li><a href='/about-me'>About</a></li>
      <li><a href='/posts'>Blog</a></li>
      <li><a href=#>Contact</a></li>
      <li><a href=#>Cats</a></li>
    </ul>
  </div> <!-- .nav -->

<!-- </div> <!-- .header --> -->

<!-- <div class='sidebar'>
  <ul class='vertical-list'>
    <li>Item 1</li>
    <li>Item 2</li>
  </ul>
</div> <!-- .sidebar -->

<!-- <div class='body'>
  Body
</div> <!-- .body --> --> --> -->
