/* HTML Tags ...*/

body {
  font-family: 'Raleway' helvetica sans-serif;
  color: black;
  background: #104037;
}

code {
  font-family: monospace;
  background-color: #c6c2ce;
  font-size: 12pt;
  font-weight: normal;

}

h1 {
  font-family: 'Raleway', helvetica sans-serif;
  color: #40FFDC;
  background-color: #104037;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: .5em;
  word-spacing: 2px;
  line-height: 1.5;
  border-style: solid;
  border-color: #30BFA5;
  border-width: 5px;
  padding: 15px;
  margin: 0
}

h2 {
  margin: 0;
  font-family: "Raleway" helvetica sans-serif ;
}

a {
  text-decoration: none;
  color: black;
  /*font-weight: normal;*/
}


h3 {
  text-align: left;
  margin: 0;
  /*font-size: 22px;*/
  /*font-weight: bold;*/
}

h4 {
  color:#104037;
  line-height: 1;
  padding: 1px;
}

p {
  margin: 5px;
  line-height: 1.4;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
}

.image-caption {
  font-size: 10pt;
  text-align: center;
}


/* ...HTML Tags*/

/* Body... */

.page-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  margin-bottom: 25px;
  display: block;
}

.page-heading {
  font-size: 25pt;
  color: white;
  background-color:#207F6E;
  padding: 5px;
  text-align: left;
  border-bottom: none;
  font-family: "Raleway";
  border-color: black;
}

.background {
  background: url("/IMG_1288.JPG");
  margin: 0px;
  padding: 1px;
  min-height: 600px;
  width: 100%;
}

.content-container {
  width: 70%;
  background-color: white;

  /*border: solid;*/

}



/* ...Body */

/* Blog ... */

.body-container {
  width: 85%;
  margin: 10px auto
}

.body-heading {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  border-bottom: dotted;
  font-size: 20pt;
  text-transform: capitalize;
}

.body-heading {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-family: "Raleway" sans-serif;
}

.blog-date {
  font-size: 12pt;
  color: black;
  padding: 10px 0;
}

.body-content {
  padding: 0 10px;
  line-height: 5;
}

.body-link {
  text-decoration: underline;
  color: #1219c6
}

.read-more {
  text-align: right;
  text-decoration: underline
}

/* Layout... */

.horizontal-list > li {
  margin: 0 5px ;
  /*font-size: 18pt;*/
  display: inline-block;
  list-style: none;
  padding: 0 2px;
  position: relative;
}

/* ...Layout */

/* Header ... */

.header {
  background-color: #104037;
  text-align: left;
  height: 85px;
  position: fixed;
  width: 100%;

}

.container {
  width: 80%;
  margin: 0 auto;
}

.brand {
  display: inline-block;
  margin-left: 0;
  font-size: 45pt;
  font-weight: normal;
  text-decoration: none;
  line-height: 82px;
}

.brand a {
  color: #94FFEB;

}

.brand a:hover {
  color: #ffffff;
  font-weight: normal;
}

.nav {
  float: right;
  padding-top: 40px;
  list-style: none;
  /*display: inline-block;*/
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav .horizontal-list li a {
  text-decoration: none;
  color: #ffffff;
  padding: 0 5px;
  font-weight: normal;
  margin: 0;
  font-size: 18pt;
}

.nav .horizontal-list li a:hover {
  color: #94FFEB;
}

.nav .horizontal-list li:hover > .dropdown {
  position: absolute;
  display: block;
  text-align: left;
  margin-top: 20px;
}

.dropdown-anchor {
  height: 90px;
}

.dropdown {
  display: none;
  background: #104037;
  position: relative;
  left: 0;
  width: 170px;
  height: 100%
}

.dropdown li {
  padding-top: 3px;
}

.header-quote {
  margin-right: 20px;
  background-color: #ffffff;
  color: black;
  width: 100%;
  display: block;
  height: 20px;
  text-align: center;
}

/* ...Header */

/* Footer... */

.footer {
  background-color: #104037;
  color: #ffffff;
  text-align: left;
  height: 30px;
  padding: 10px;
  /*min-width: 1220px;*/
}

/* ...Footer */


/* ...Sidebar */

.sidebar {
  width: 26%;
  background-color: white;
  float: right;
  /*border: solid;
  border-color: black;*/
}

.question-box {
  padding: 10px;
  width: 240px;
  margin-left: 25px;
  display: inline;
}

.logo {
  display: inline-block;

}

#twitter {
  background: url("/twitter-64.png") no-repeat;
  width: 64px;
  height: 100%;

}

.sidebar-text {
  text-align: center;
  padding: 10px;
  margin: 0;
}

/* ...Sidebar */
/*This seems to be when it's at 1189*/
@media (max-width:950px) {
  .nav {
    float:left;
    background-color: black;
    height: 30px;
    width: 100%;
    margin-top: 3px;
    padding: 0;
    margin-left: 1px;
  }

  .brand {
    float: left;
  }

  .sidebar {
    float:left;
    width: 100%;
    border-bottom: none;
    margin-bottom: 9px;
  }

  .content-container {
    width: 100%;

  }

  .page-heading {
    height: 100%;
  }

@media (max-width: 600px) {

  .brand {
    font-size: 40pt;
  }
  .nav .horizontal-list li a {
    font-size: 14pt;
  }

  .nav .horizontal-list li {
    font-size: 14pt;
    padding: 0;
  }

  .header {
    height: 50pt;
  }
}

@media (max-width: 500px) {
  .nav .horizontal-list li a {
    font-size: 11pt;
  }

  .brand {
    font-size: 30pt;
  }

}
