/* HTML Tags ...*/

body {
  font-family: 'Open Sans' Arial ;
  color: black;
  background: #104037;
  min-width: 1240px;

}

h1 {

  font-family: 'Open Sans';
  color: #40FFDC;
  background-color: #104037;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: .5em;
  word-spacing: 2px;
  line-height: 1.5;
  border-style: solid;
  border-color: #30BFA5;
  border-width: 5px;
  padding: 15px;
  margin: 0
}



a {
  text-decoration: none;
  color: black;
  font-weight: normal
}


h3 {

  text-align: left;
  /*margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 50px;
  margin-right: 50px*/
  font-size: 22px;
  font-weight: bold;

}

h4 {
  color:#104037;
  line-height: 1;
  padding: 1px;

}

p {
  margin: 5px;

}





img {
  margin-left: auto;
  margin-right: auto;
  display: block
}

/* ...HTML Tags*/

.page-heading {
  font-size: 25pt;

  color: white;
  background-color:#207F6E;

  /*border-style: solid;*/
  /*border-width: 3px;*/
  /*border-color:#104037;*/
  padding: 5px;
  text-align: left;
  border-bottom: solid;
  border-top: solid;
  border-color: black;
}

.blog-heading h3 {
  font-weight: bold;
  text-decoration: none;
  font-size: 20pt;
  color: black;


}

.blog-heading {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  /*background-color: #a24fc0;*/
  margin-top: 5px;
  border-bottom: dotted;

}

.blog-date {
  font-size: 12pt;
  color: black;
  /*padding-top: 5px;*/
  padding: 10px 0;
}

.blog-content {
  padding: 0 10px;
}

.blog-container {
  width: 580px;
  margin: 10px auto
}

.sidebar-container {
  width: 300px;
  background-color: white;
  /*margin-right: auto;*/

  position: fixed;
  margin-left: 820px
}

.read-more {
  text-align: right;
  text-decoration: underline
}

/* Layout... */

.horizontal-list > li {
  margin: 0 5px ;
  font-size: 18pt;
  display: inline-block;
  list-style: none;
  padding: 0 2px;
  position: relative;
}

/* ...Layout */

/* Header ... */

.header {
  background-color: #104037;
  color: #ffffff;
  text-align: right;
  /*overflow: auto;*/
  height: 80px;
  min-width: 1220px;

}

.background {
  background: url("/IMG_1288.jpg");
  
  margin: -1px;
  padding: 1px;
  min-width: 1240px;
  min-height: 510px;
}

.container {
  width: 1000px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  margin: 0 auto;
}

.page-container {
  width: 1000px;
  /*background-color: white;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;


}

.content-container {
  width: 700px;
  background-color: white;

}

.footer {
  background-color: #104037;
  color: #ffffff;
  text-align: left;
  height: 30px;
  padding: 10px;
  min-width: 1220px

}



.brand a {
  margin-left: 6px;
  float: left;
  color: #ffffff  ;
  font-size: 45pt;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  line-height: 82px;
}

.brand a:hover {
  color: #6bb09a;
  font-weight: normal;
}

.nav {
  float: right;
  padding-top: 40px;
  list-style: none;
}



.nav a {
  color: #40FFDC;
  text-decoration: none;
  margin: 0;
  font-weight: normal;
}

.nav a:hover {
  color: #9525ce;
}

.dropdown {
  display: none;
  background: #104037;
  position: relative;
  left: 0;
  padding-top: 10px;
  width: 175px;
}

.nav li:hover > .dropdown {
  position: absolute;
  display: block;
  text-align: left;

}

.header-quote {
  margin-right: 20px;
  display: inline
}

/* ...Header */

/* ...Sidebar */

.sidebar {
  width: 260px;

  background-color: white;
  /*margin-right: auto;*/
  float: right;
  /*position: fixed;*/
  right: 20px;
  /*margin-left: 820px*/

}

/* ...Sidebar */

/* Body... */

.post-title {
  text-transform: capitalize;
  font-size: 25px;
}



/* ...Body */
