/* HTML Tags ...*/

body {
  font-family: 'Raleway' Arial ;
  color: black;
  background: #104037;
}

h1 {
  font-family: 'Raleway';
  color: #40FFDC;
  background-color: #104037;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: .5em;
  word-spacing: 2px;
  line-height: 1.5;
  border-style: solid;
  border-color: #30BFA5;
  border-width: 5px;
  padding: 15px;
  margin: 0
}

a {
  text-decoration: none;
  color: black;
  /*font-weight: normal;*/
}


h3 {
  text-align: left;
  /*font-size: 22px;*/
  /*font-weight: bold;*/
}

h4 {
  color:#104037;
  line-height: 1;
  padding: 1px;
}

p {
  margin: 5px;
  line-height: 1.4;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block
}

/* ...HTML Tags*/

/* Body... */

.page-container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: block;
}

.page-heading {
  font-size: 25pt;
  color: white;
  background-color:#207F6E;
  padding: 5px;
  text-align: left;
  border-bottom: solid;

  border-color: black;
}

.background {
  background: url("../IMG_1288.JPG");
  /*background: #b6b6b6;*/
  margin: -1px;
  padding: 1px;
  min-height: 600px;
  width: 100%;
}

.content-container {
  width: 700px;
  background-color: white;
  margin-left: 10px;
  border: solid;

}



/* ...Body */

/* Blog ... */

.blog-container {
  width: 580px;
  margin: 10px auto
}

.blog-heading {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  border-bottom: dotted;
  font-size: 20pt;
  text-transform: capitalize;
}

.blog-heading h3 {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.blog-date {
  font-size: 12pt;
  color: black;
  padding: 10px 0;
}

.blog-content {
  padding: 0 10px;
  line-height: 5;
}

.read-more {
  text-align: right;
  text-decoration: underline
}

/* Layout... */

.horizontal-list > li {
  margin: 0 5px ;
  font-size: 18pt;
  display: inline-block;
  list-style: none;
  padding: 0 2px;
  position: relative;
}

/* ...Layout */

/* Header ... */

.header {
  background-color: #104037;
  text-align: left;
  height: 85px;
  position: fixed;
  width: 100%;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.brand {
  display: inline-block;
  margin-left: 0;
  font-size: 45pt;
  font-weight: normal;
  text-decoration: none;
  line-height: 82px;
}

.brand a {
  color: #94FFEB;
}

.brand a:hover {
  color: #ffffff;
  font-weight: normal;
}

.nav {
  float: right;
  padding-top: 40px;
  list-style: none;
  display: inline-block;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav .horizontal-list li a {
  text-decoration: none;
  color: #ffffff;
  padding: 0 5px;
  font-weight: normal;
  margin: 0;
}

.nav .horizontal-list li a:hover {
  color: #94FFEB;
}

.nav .horizontal-list li:hover > .dropdown {
  position: absolute;
  display: block;
  text-align: left;

}

.dropdown {
  display: none;
  background: #104037;
  position: relative;
  left: 0;
  padding-top: 10px;
  width: 175px;
}



.header-quote {
  margin-right: 20px;
  background-color: #ffffff;
  color: black;
  width: 100%;
  display: block;
  height: 20px;
  text-align: center;
}

/* ...Header */

/* Footer... */

.footer {
  background-color: #104037;
  color: #ffffff;
  text-align: left;
  height: 30px;
  padding: 10px;
  min-width: 1220px;
}

/* ...Footer */


/* ...Sidebar */

.sidebar {
  width: 260px;
  background-color: white;
  float: right;
  border: solid;
  border-color: black;
}

.question-box {
  padding: 10px;
  width: 240px;
  margin-left: 25px;
}

.logo {
  display: inline-block;
  width: 80px;
}


.sidebar-text {
  text-align: center;
  padding: 10px;
  margin: 0;
}

/* ...Sidebar */
