h1 {

  font-family: 'Open Sans';
  color: #40FFDC;
  background-color: #104037;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: .5em;
  word-spacing: 2px;
  line-height: 1.5;
  border-style: solid;
  border-color: #30BFA5;
  border-width: 5px;
  padding: 15px;
}

h2 {
  font-size: 1.5em;
  color: #40FFDC;
  background-color:#207F6E;
  margin: 10px;
  border-style: solid;
  border-width: 3px;
  border-color:#104037;
  padding: 5px
}


h3 {
  color: #104037;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 22px;
  font-weight: bold;
  
}

h4 {
  color:#104037;
  margin-left: 29px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1;
  padding: 1px;

}

p {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0;
  margin-bottom: 0
}

a {
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
  text-decoration: underline;
  margin-left: 20px;
  color: #104037;

}

body {
  font-family: 'Open Sans';
  background-color: #FFFFFF;
  color: #104037

}

img {
  margin-left: auto;
  margin-right: auto;
  display: block
}
